.wrapper {
  width: 100%;

  .actionList {
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    margin-top: -50px;
    justify-content: space-between;
    padding-right: 20%;

    .selectedRowsSpan {
      line-height: 32px;
    }

    .actionsForm {
      margin-left: 20px;
      width: 40%;

      div {
        margin-bottom: 0 !important;
      }
      .submitButton {
        margin-left: 20px;
      }
    }
  }
}