.tagInput {
  width: 78px;
  margin-right: 8px;
  vertical-align: top;
}

.customFieldTable {
  margin-bottom: 20px;
}

.warningRow {
  background-color: rgba(255, 0, 0, 0.4);

  &:hover {
    td {
      background-color: rgba(255, 0, 0, 0.5) !important;
    }
  }
}