
.virtOptionList {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  .optionList {
    margin: 0 20px;
  }
}
.childTableRow {
  margin-bottom: 0 !important;
}

.childProductForm {
  margin-bottom: 20px;
}